<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TransformationWorkoutLogger.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
  <!--<system.webServer>

    <aspNetCore processPath="dotnet" arguments=".\TransformationWorkoutLogger.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <handlerSettings>
        <handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
        <handlerSetting name="debugLevel" value="FILE,TRACE" />
      </handlerSettings>
    
    </aspNetCore>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />

	</handlers>
	
  
		</system.webServer>
		  -->
  <system.web>
    <trust level="Full" processRequestInApplicationTrust="true" />
  </system.web>
</configuration>
<!--ProjectGuid: de275614-264e-4b8a-8aa5-9f84a1c41a1f-->